<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/headroom.css" />
    <link rel="stylesheet" type="text/css" href="/css/Home.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <header id="header" class="headroom">
      <nav class="max:show">
        <!-- prettier-ignore -->
        @@include('./Header.html')
      </nav>
    </header>
    <main class="home main">
      <section class="section1">
        <div class="flex_row">
          <div class="flex_row1">
            <div class="rect1"></div>
            <img class="image" src="/assets/magnifying_glass_icon.jpg" alt="alt text" />
          </div>
          <h1 class="title">FUCLUB</h1>
          <div class="flex_row2">
            <img class="image1" src="/assets/people_silhouettes.jpg" alt="alt text" /><img
              class="image1"
              src="/assets/b4e06bdad482d98db1242a496d92cad8.png"
              alt="alt text"
            /><img class="image11" src="/assets/certified_quality_certification_badge.png" alt="alt text" />
          </div>
        </div>
      </section>

      <section class="section2"></section>

      <section class="section3">
        <div class="flex_col">
          <h1 class="title1">Danh sách câu lạc bộ</h1>
          <div class="flex_row3">
            <div class="content_box" style="--src:url(/assets/c8bc7aa92bfd1ba29df86d7b3d474b0d.png)">
              <h2 class="medium_title">Học Thuật</h2>
            </div>
            <div class="content_box1"><h2 class="medium_title1">Nghệ Thuật</h2></div>
            <div class="content_box1"><h2 class="medium_title1">Thể thao</h2></div>
            <div class="content_box1"><h2 class="medium_title1">Khác</h2></div>
          </div>
        </div>
      </section>

      <section class="section4">
        <div class="flex_col1">
          <div class="content_box4" style="--src:url(/assets/soft_pink_to_blue_gradient.png)">
            <h2 class="medium_title2">Học Thuật</h2>
          </div>
          <div class="grid">
            <div class="item">
              <img class="image2" src="/assets/japanese_cuisine_logo.png" alt="alt text" />
              <h2 class="medium_title3">JS Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/business_club_diamond_logo.png" alt="alt text" />
              <h2 class="medium_title3">Business Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/english_club_castle_logo.png" alt="alt text" />
              <h2 class="medium_title3">English Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/pokemon_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">No Shy Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/debate_club_lightbulb_logo.png" alt="alt text" />
              <h2 class="medium_title3">Debate Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/psychology_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Psychology Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/chinese_calligraphy_logo.png" alt="alt text" />
              <h2 class="medium_title4">.Tiếng Trung Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/data_science_hand_logo.png" alt="alt text" />
              <h2 class="medium_title3">Data Science Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/chess_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Chess Club</h2>
            </div>
            <div class="item1">
              <img class="image2" src="/assets/golden_coin_with_symbol.png" alt="alt text" />
              <h2 class="medium_title5">FTIC</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/techno_ninja_logo.png" alt="alt text" />
              <h2 class="medium_title3">Ethical Hackers</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/ai_club_galaxy_logo.png" alt="alt text" />
              <h2 class="medium_title3">AI Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/c_plus_plus_language_logo.png" alt="alt text" />
              <h2 class="medium_title3">CppGeeks</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/gold_monkey_vc_logo.png" alt="alt text" />
              <h2 class="medium_title3">MonStage Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/go_board_game_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Go club</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="section5">
        <div class="flex_col2">
          <div class="content_box41" style="--src:url(/assets/light_pink_to_blue_shade.png)">
            <h2 class="medium_title6">Nghệ Thuật</h2>
          </div>
          <div class="grid1">
            <div class="item2">
              <img class="image21" src="/assets/frog_in_blue_circle_logo.png" alt="alt text" />
              <h2 class="medium_title3">FPT Junior Yosakoi</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/blazie_music_logo.png" alt="alt text" />
              <h2 class="medium_title3">Blazie Dance Team</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/art_club_creature_logo.png" alt="alt text" />
              <h2 class="medium_title3">FPTU Art Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/branche_fashion_logo.png" alt="alt text" />
              <h2 class="medium_title3">Branché</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/green_recycling_logo.png" alt="alt text" />
              <h2 class="medium_title3">FMVC</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/soleil_crew_sun_logo.png" alt="alt text" />
              <h2 class="medium_title3">Soleil Crew</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/melody_club_watercolor_logo.png" alt="alt text" />
              <h2 class="medium_title3">Melody Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/hiphop_university_logo.png" alt="alt text" />
              <h2 class="medium_title3">Hiphop FPT University</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/architecture_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Guitar Club</h2>
            </div>
            <div class="item2">
              <img class="image21" src="/assets/dance_club_elegant_figure_logo.png" alt="alt text" />
              <h2 class="medium_title7">Hebe Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/photography_club_camera_logo.png" alt="alt text" />
              <h2 class="medium_title3">Photography</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="section6">
        <div class="flex_col3">
          <div class="content_box41" style="--src:url(/assets/subtle_pink_to_blue_transition.png)">
            <h2 class="medium_title8">Thể Thao</h2>
          </div>
          <div class="grid2">
            <div class="item">
              <img class="image2" src="/assets/street_workout_logo.png" alt="alt text" />
              <h2 class="medium_title3">Street Workout</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/taekwondo_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Taewondo</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/go_board_game_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Karate club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/badminton_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Badminton Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/vovinam_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Vovinam</h2>
            </div>
            <div class="item2">
              <img class="image21" src="/assets/football_club_painted_ball_logo.png" alt="alt text" />
              <h2 class="medium_title3">Football Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/gymnastic_bear_logo.png" alt="alt text" />
              <h2 class="medium_title3">Gymnastic</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/esports_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Esport Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/iskate_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">I-Skate Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/basketball_screaming_monkey_logo.png" alt="alt text" />
              <h2 class="medium_title4">Basketball Club</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/muay_thai_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Muay Thái</h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/nunchaku_club_logo.png" alt="alt text" />
              <h2 class="medium_title3">Nunchaku Club </h2>
            </div>
            <div class="item">
              <img class="image2" src="/assets/martial_arts_club_emblem.png" alt="alt text" />
              <h2 class="medium_title3">Dango Club</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="section7">
        <div class="flex_col4">
          <div class="content_box42" style="--src:url(/assets/subtle_pink_to_blue_transition.png)">
            <h2 class="medium_title9">Khác</h2>
          </div>
          <div class="flex_row4">
            <div class="flex_col5">
              <img class="image2" src="/assets/colorful_footprint_igo_logo.png" alt="alt text" />
              <h2 class="medium_title3">IGo Ckub</h2>
            </div>
            <div class="flex_col6">
              <img class="image2" src="/assets/japan_club_matsuri_logo.png" alt="alt text" />
              <h2 class="medium_title4">FJC (Văn Hóa Nhật)</h2>
            </div>
            <div class="flex_col5">
              <img class="image2" src="/assets/book_club_owl_logo.png" alt="alt text" />
              <h2 class="medium_title3">Book Club</h2>
            </div>
            <div class="flex_col7">
              <img class="image2" src="/assets/color_team_circle_logo.png" alt="alt text" />
              <h2 class="medium_title3">Color Team</h2>
            </div>
            <div class="flex_col8">
              <img class="image2" src="/assets/3d_dice_logo.png" alt="alt text" />
              <h2 class="medium_title3">Board Game Club</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="section8">
        <div class="content_box9">
          <div class="flex_col9">
            <h1 class="title11">Contact</h1>
            <h2 class="medium_title11">Team 1</h2>
            <h2 class="medium_title12">FPT JS Club</h2>
            <h2 class="medium_title13">Đại Học FPT</h2>
          </div>
        </div>
        <div class="content_box8"><h1 class="title12">BACK PAGE</h1></div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');

      const header = document.querySelector("#header");
      if(header) {
          const headroom = new Headroom(header);
          headroom.init();
      }
    </script>
  </body>
</html>
