<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__group1">
  /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
  <div class="header__rect"></div>
  <img class="header__image" src="/assets/6e1735137d3d2116a58dfb54909f8eb1.png" alt="alt text" />
  <div class="header__rect1"></div>
  <h1 class="header__title">FUCLUB</h1>
  <img class="header__image1" src="/assets/b4e06bdad482d98db1242a496d92cad8.png" alt="alt text" /><img
    class="header__image2"
    src="/assets/06b92860c7c2b1c2d2f2c826549dfee6.png"
    alt="alt text"
  /><img class="header__image11" src="/assets/certified_quality_certification_badge.png" alt="alt text" />
</div>
