<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div align="center">
<h1>Person List</h1>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${listperson}" th:if="${person.age > 5}">
      <td th:text="${person.name}"></td>
      <td th:text="${person.age}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>