<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title> Login App</title>



</head>
<body>


<br>
<br>
<div align="center">
    <div>
        <div>

            <h1> User Login Page </h1>
            <form th:action="@{/login}" method="post">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div>Invalid username or
                        password.
                    </div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>

                <div class="form-group">
                    <label> Username </label> :
                    <input type="text" name="username"
                    >
                </div>

                <div>
                    <label>Password</label>: <input type="password"/>
                </div>

                <div>
                    <div>
                        <div>
                            <input type="submit"
                                   value="Log In"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>