<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" th:href="@{https://unpkg.com/aos@2.3.1/dist/aos.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{styles/SignIn/web/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{styles/SignIn/web/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{styles/SignIn/web/css/Page.css}" />
    <script type="text/javascript" th:if="${contentType == 'application/json'}" th:src="@{https://unpkg.com/aos@2.3.1/dist/aos.js}"></script>
    <script type="text/javascript" th:if="${contentType == 'application/json'}" th:src="@{https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js}"></script>
    <script type="text/javascript" th:if="${contentType == 'application/json'}" th:src="@{https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js}"></script>



</head>

<body class="flex-column">
    

    <main class="page main" style="--src:url(../static/styles/SignIn/web/assets/cartoon_school_life_scene.png)">
        <section class="section1">
            <div class="section11">
                <div class="content_box2">
                    <form th:action="@{/signin}" method="post" th:object="${loginRequest}">
                    <div class="flex_col">
                        <div class="flex_col1">
                            <div class="flex_row">
                                <img class="image1" th:src="@{../static/SignIn/web/assets/black_circle_icon.jpg}" alt="alt text" />
                                    <input class="rect3" type="text" placeholder="Enter username to signin" th:field="*{username}">
                            </div>
                            <div class="flex_row">
                                <img class="image1" th:src="@{../static/SignIn/web/assets/6c0ba1784ca4fc739471b1b947e2d201.png}" alt="alt text" />
                                <input class="rect3" type="text" placeholder="Enter password to signin" th:field="*{password}">

                            </div>
                        </div>
                        <div class="content_box">
                            <button type="submit" class="title">Go</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="content_box1">
                    <div class="rect1"></div>
                    <h1 class="title1">FU CLUB</h1>
                    <div class="rect2"></div>
                    <h2 class="medium_title">Đăng nhập</h2>
                </div>
            </div>
        </section>

    </main>
    <script type="text/javascript">
        AOS.init();
        new Sticky('.sticky-effect');
    </script>
</body>

</html>