<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div align="center">
    <h1>Registration</h1>
    <br>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <table cellpadding="5">
            <tr>
                <td>StudentID</td>
                <td><input type="number" th:field="*{studentId}"></td>
            </tr>
            <tr>
                <td>Full name</td>
                <td><input type="text" th:field="*{fullName}"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><select th:field="*{gender}">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Secret">Secret</option>
                </select></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" th:field="*{email}" required> </td>
            </tr>

            <tr>
                <td>Username</td>
                <td><input type="text" th:field="*{userName}" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{password}" required></td>
            </tr>
            <tr>
                <td><button type="submit">Register</button></td>
                <td><a th:href="@{/login}">A member -> Login</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>