<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div align="center">
    <!-- success message -->
    <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered
            to our awesome app!</div>
    </div>
    <h1>Registration</h1>
    <br>
    <form action="#" th:action="@{/signup}" method="post" th:object="${signuprequest}">
        <table cellpadding="5">
            <tr>
                <td>Email</td>
                <td><input type="email" th:field="*{email}" required> </td>
                <td th:text="Email is already exist" th:if="${checkExistEmail == true}"></td>
            </tr>

            <tr>
                <td>Username</td>
                <td><input type="text" th:field="*{username}" required></td>
                <td th:text="Username is already exist" th:if="${checkExistUser == true}"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{password}" required></td>
            </tr>
            <tr>
                <td><button type="submit">Register</button></td>
               <td> <span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>